<div class="level">
  <div class="level-left">
    <div class="level-item">
      <video id="video" width="320" height="240" autoplay></video>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      Nouns <span id="result">...</span>
      with a confidence of <span id="probability">...</span>.
      <img src="https://d30y9cdsu7xlg0.cloudfront.net/attribution/39524-42.png">
    </div>
  </div>
</div>
