<div class="level">
  <div class="level-left">
    <div class="level-item">
      <p class="subtitle is-5">
        <strong>123</strong> posts
      </p>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      Nouns
    </div>
  </div>
</div>
